@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Lobster+Two&family=Parisienne&family=Xanh+Mono&family=Yuji+Boku&display=swap');
body {
    background-color:black;
    color: whitesmoke;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkslategrey;
    font-variant: small-caps;
    text-decoration: underline;
}

h2{
    color:darkslategrey;
}

h1, h2 {
   text-align: center; 
}

.fonte-1 {
    font-family: 'Cairo', sans-serif;
}

.fonte-2 {
    font-family: 'Lobster Two', cursive;
}

.fonte-3 {
    font-family: 'Parisienne', cursive;
}

.fonte-4 {
    font-family: 'Xanh Mono', monospace;
}

.fonte-5 {
    font-family: 'Yuji Boku', serif;
}